@media screen and (max-width: 630px) {
    header {
        text-align: center;
        flex-direction: column;
        padding: 0;
    }

    .img-cap {
        flex-direction: column;
    }
}

@media screen and (max-width:375px) {

    p {
        text-align: left;
    }

    header {
        padding: 20px;
        text-align: center;
    }

    .profile-photo {
        width: 170px;
        height: auto;
        margin: 20px;
    }

    header h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 80px;
        padding: 20px 0;
    }

    .keyboard {
        padding: 20px 0 20px 0;
    }

    .display {
        padding: 20px 0;
    }

    .container-inactive {
        display: none;
    }

    .container, .container-inactive {
        width: 50px;
        height: 50px;
    }

    .letter {
        font-size: 30px;
    }
}

@media screen and (min-height: 812px) {
    .profile-photo {
        margin: 20%;
    }
}