@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
    --roboto-mono: 'Roboto Mono', monospace;
    --fira-sans: 'Fira Sans', sans-serif;
    
    --lightest: #FDFDFF;
    --darkest: #393D3F;
    --mid: #62929E;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--lightest);
    font-family: var(--roboto-mono);
    font-weight: 400;
}

a:hover {
    transform: scale(1.2);
}

/* ??? */
.icon {
    text-decoration: none;
    color: var(--darkest);
}

.icons {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.icons-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 50px;
}

h1, p {
    margin: 0;
    text-align: center;
    font-size: 120%;
    font-family: var(--fira-sans);
}

p {
    font-family: var(--fira-sans);
}

.navigation {
    font-weight: 300;
    width: 90%;
    color: var(--darkest);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 98vh;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: justify;
    border: 2px solid var(--mid);
    color: var(--mid);
    overflow: hidden;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    line-height: 50px;
}

.profile-photo {
    width: 230px;
    height: auto;
    margin: 5%;
    border-radius: 5px;
}

header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    padding: 40px 0;
}

.header-logo {
    text-decoration: none;
    color: var(--darkest);
    margin: 0 10px;
}

.header-logo:hover {
    transform: scale(1.2);
}

.arrow-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--darkest);
    width: 100%;
    padding: 10px 0;
}

.keyboard {
    font-family: var(--roboto-mono);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--mid);
    padding: 20px 0 20px 0;
}

.letter-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container, .container-inactive {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    margin: 5px;
    color: white;
}

.container {
    background-color: var(--lightest);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.container .letter {
    color : var(--darkest)
}

.container-inactive {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px dashed var(--lightest);
    color: var(--lightest);
}

.letter {
    font-size: 40px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: var(--roboto-mono);
}

.display {
    margin-top: 30px;
    line-height: 25px;
    padding: 40px 20%;
    overflow-y: scroll;
    width: 100%;
    height: 80vh;
    text-align: center;
}

.text-heading {
    padding: 20px 0;
    text-align: left;
    color: var(--mid);
    font: var(--roboto-mono);
    font-size: 60px;
    font-weight: bold;
}

.text {
    padding: 20px 0 20px 15%;
    font-weight: 300;
    text-align: left;
    color: var(--darkest);
    line-height: 200%;
}

.photo {
    border-radius: 5px;
    margin-right: 20px;
}

.s-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 80%;
    color: var(--mid);
}

svg:hover {
    transform: scale(1.1);
}

.card {
    margin-right: 20px;
    background-color: var(--lightest);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
}

.card-content {
    color: var(--lightest);
    background-color: var(--mid);
}

.truths-lie, .photos {
    padding: 20px 0 20px 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.photos {
    overflow-y: scroll;
}