@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --josefin-sans: 'Josefin Sans', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
    --fira-sans: 'Fira Sans', sans-serif;
    
    --lightest: #FDFDFF;
    --darkest: #393D3F;
    --mid: #62929E;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--lightest);
    font-family: var(--roboto-mono);
    font-weight: 400;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar, .display::-webkit-scrollbar {
    display: none;
}

a:hover {
    transform: scale(1.2);
}

/* ??? */
.icon {
    text-decoration: none;
    color: var(--darkest);
}

.icons {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.icons-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 50px;
}

h1, p {
    margin: 0;
    text-align: center;
    font-size: 100%;
    font-family: var(--fira-sans);
    line-height: normal;
}

p, figcaption {
    font-family: var(--fira-sans);
}

.navigation {
    font-weight: 300;
    width: 90%;
    color: var(--darkest);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 70vh;
    border: 2px solid var(--mid);
    margin-bottom: 30px;
    color: var(--mid);
    overflow: hidden;
}

.header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-photo {
    width: 50%;
    height: auto;
    margin: 0%;
    border-radius: 5px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    /* line-height: 50px; */
}

.header-logo:hover {
    transform: scale(1.2);
}

.arrow-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

footer {
    text-align: center;
    color: var(--darkest);
    /* background-color: var(--mid); */
    width: 100%;
}

header h1 {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100px;
    padding: 40px 0;
}

.header-logo {
    text-decoration: none;
    color: var(--darkest);
    margin: 0 10px;
}

.keyboard {
    font-family: var(--roboto-mono);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--mid);
    padding: 20px 0 20px 0;
}

.letter-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container, .container-inactive {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    margin: 5px;
    color: white;
}

.container {
    background-color: var(--lightest);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.container .letter {
    color : var(--darkest)
}

.container-inactive {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px dashed var(--lightest);
    color: var(--lightest);
}

.letter {
    font-size: 40px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: var(--roboto-mono);
}

.main {
    margin: 30px 0 0px 0;
    padding: 5% 15%;
    border: 2px solid var(--mid);
    height: 95vh;
}

.display {
    line-height: 25px;
    padding: 40px 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

.text-heading {
    padding: 20px 0;
    text-align: left;
    color: var(--mid);
    font: var(--roboto-mono);
    font-size: 60px;
    font-weight: bold;
}

.text {
    padding: 20px 0 20px 5%;
    font-weight: 300;
    text-align: left;
    color: var(--darkest);
    line-height: 200%;
}

.text-bold {
    font-weight: 700;
}

.photo {
    border-radius: 5px;
}

.s-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 80%;
    color: var(--mid);
}

.card {
    font-family: var(--fira-sans);
    /* background-color: var(--mid); */
    color: var(--mid);
    margin-right: 20px;
    padding: 20px;
    border-style: solid;
    border-radius: 5px;
    /* box-shadow: -5px 5px lightgray; */
}

/* .cards, .photos {
    padding: 20px 0 20px 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

.photos {
    overflow-y: scroll;
}

@media screen and (max-width: 840px) {
    .img-cap {
        display: flex;
        flex-direction: column;
    }
}

.next-page {
    border: 2px dashed var(--mid);
    padding: 20px 0 20px 0;
    margin: 30px;
    cursor: pointer;
}

.next-page-link {
    color: var(--darkest);
}

.next-page:hover {
    transform: scale(1.01);
}