@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

/*

url(https://coolors.co/606c38-283618-fefae0-dda15e-bc6c25)

Dark Olive Green: rgba(96, 108, 56, 1) #606C38;
Kombu Green: rgba(40, 54, 24, 1) #283618
Cornsilk: rgba(254, 250, 224, 1) #FEFAE0
Deep Champagne: rgba(238, 206, 159, 1) #EECE9F
Fawn: rgba(221, 161, 94, 1) #DDA15E

*/

:root {
    --roboto-mono: 'Roboto Mono', monospace;
    --dark-olive-green: #606C38;
    --kombu-green: #283618;
    --cornsilk: #FEFAE0;
    --deep-champagne: #EECE9F;
    --fawn: #DDA15E;
    --gold-crayola: #e6b87f;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--kombu-green);
    font-family: var(--roboto-mono);
    font-weight: 400;
}

a:hover {
    transform: scale(1.2);
}

.icon {
    text-decoration: none;
    color: var(--cornsilk);
}

.icons {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.icons-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 50px;
}

h1, p {
    margin: 0;
    text-align: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

.navigation {
    font-weight: 300;
    /* width: 80%; */
    width: 700px;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    line-height: 30px;
    background-color: var(--kombu-green);
    margin: 0;
    text-align: justify;
}

header h1 {
    color: var(--fawn);
    font-size: 80px;
    padding: 40px;
}

.dive-in {
    text-decoration: none;
    color: var(--fawn);
    cursor: pointer;
    width: 100%;
}

.dive-in:hover {
    transform: scale(1.2);
}

.main {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: var(--dark-olive-green);
}

footer {
    color: var(--fawn);
    width: 100%;
    padding-top: 10px;
}

.keyboard {
    font-family: var(--roboto-mono);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--gold-crayola);
    padding: 40px 0;
}

.letter-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    background-color: var(--dark-olive-green);
    color: var(--fawn);
    color: white;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
}

.container:hover {
    background-color: var(--kombu-green);
    color: var(--fawn);
}

.container-inactive {
    color: white;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    margin: 5px;
    /* box-shadow: -3px 3px lightslategray; */
    border: 2px dashed var(--kombu-green)
}

.letter {
    font-size: 40px;
    width: 100%;
    text-align: center;
    color: var(--kombu-green);
    text-decoration: none;
    font-family: var(--roboto-mono);
}

.container .letter:hover {
    color: var(--fawn);
}

.display {
    margin-top: 50px;
    align-items: center;
    line-height: 25px;
    padding: 0 10px;
    overflow-y: scroll;
    width: 70%;
}

.text-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    color: var(--cornsilk)
}

.text {
    padding: 20px 50px;
    font-weight: 300;
    text-align: justify;
    color: var(--cornsilk);
}